<ion-view view-title="oneplus">
  <ion-pane>
    <ion-content class="shapewindow">
      <div class="row-top">
        <div class="col col-80 col-offset-10"><img class="easy" src="img/logoer/age-group.png"></div>
      </div>
      <div class="row-mid-1">
        <div class="col col-60 col-offset-20" id="shake" ng-click="playButtonSound()">
          <a href="#/tab/tasks"><button class="button button-block button-energized">Alder 1+</button></a>
        </div>
      </div>
      <div class="row-mid-2">
        <div class="col col-60 col-offset-20" id="shake2" ng-click="playButtonSound()">
          <button class="button button-block button-energized">
            Alder 3+
          </button>
        </div>
      </div>
      <div class="row-mid-3">
        <div class="col col-60 col-offset-20" id="shake3" ng-click="playButtonSound()">
          <button class="button button-block button-energized">
            Alder 5+
          </button>
        </div>
      </div>
    </ion-content>
    <div id="clouds">
      <div class="cloud x1"><img src="img/baggrunde/cloud1.png"></div>
      <div class="cloud x2"><img src="img/baggrunde/cloud2.png"></div>
      <div class="cloud x3"><img src="img/baggrunde/cloud1.png"></div>
    </div>
    <div id="grass-box">
      <div class="grass">
        <img src="img/baggrunde/grass.png" width="1024">
      </div>
    </div>
  </ion-pane>
</ion-view>
