<ion-view view-title="tasks">

  <ion-pane>
    <ion-content class="shapewindow">
      <div class="row">
        <div class="col-20 col-offset-10 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/1"  style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">1</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/2" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">2</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/3" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">3</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/4" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">4</a></div>
      </div>

      <div class="row">
        <div class="col-20 col-offset-10 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/5" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">5</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/6" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">6</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/7" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">7</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/8" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">8</a></div>
      </div>

      <div class="row">
        <div class="col-20 col-offset-10 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/9" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">9</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/10" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">10</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/11" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">11</a></div>
        <div class="col-20 text-center" style="padding: 2%;" ng-click="playButtonSound()"><a class="button button-block button-energized" href="#/tab/choiceGame/12" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">12</a></div>
      </div>

      <!--<div class="row">
        <div class="col-20 col-offset-10 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">13</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">14</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">15</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">16</a></div>
      </div>

      <div class="row">
        <div class="col-20 col-offset-10 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">17</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">18</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">19</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">20</a></div>
      </div>

      <div class="row">
        <div class="col-20 col-offset-10 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">21</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">22</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">23</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">24</a></div>
      </div>

      <div class="row">
        <div class="col-20 col-offset-10 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">25</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">26</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">27</a></div>
        <div class="col-20 text-center" style="padding: 2%;"><a class="button button-block button-energized" href="#/tab/oneplustask" style="box-shadow: 3px 3px 3px rgba(0,0,0,0.5)">28</a></div>
      </div>-->

      <div class="col col-33 col-offset-33 text-center"  ng-click="playButtonSound()">
        <a href="#/tab/LangAgeSelect" style="text-decoration: none">
          <i class="icon ion-arrow-left-c" style="font-size: 100px; color:white; line-height: 0; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"></i>
          <p style="color:white; font-size: 20px; text-shadow: 2px 2px 2px rgba(0,0,0,0.5); line-height: 0;">Menu</p>
        </a>
      </div>
    </ion-content>
    <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>

    <div id="grass-box">
      <div class="grass">
        <img ng-src="img/baggrunde/grass.png" width="100%">
      </div>
    </div>
  </ion-pane>
</ion-view>
