<ion-view class="view" view-title="Main">
  <ion-pane>
    <ion-content class="mainwindow">
       <div class="row-easy">
        <div class="col col-33 col-offset-33"><img class="easy" src="../img/logoer/EasyStudio.png"></div>
      </div>
      <div class="row-leg">
        <div class="col col-80 col-offset-10"><img class="headline" src="../img/logoer/LegMedBuller.png" alt=""></div>
      </div>
      <div class="row">
        <div class="col col-offset-5" id="shake" ><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn1" src="../img/ikoner/Motorik.png" alt=""></a></div>
        <div class="col col-offset-5" id="shake3"><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn2" src="../img/ikoner/Musik.png" alt=""></a></div>
        <div class="col col-offset-5" id="shake" ><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn3" src="../img/ikoner/Naturfænomen.png" alt=""></a></div>
        <div class="col col-offset-5" id="shake3" ><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn4" src="../img/ikoner/Sprog.png" alt=""></a></div>
      </div>
    </ion-content>
    <div id="clouds">
      <div class="cloud x1"><img src="img/baggrunde/cloud1.png"></div>
      <div class="cloud x2"><img src="img/baggrunde/cloud2.png"></div>
      <div class="cloud x3"><img src="img/baggrunde/cloud1.png"></div>
    </div>
    <div id="sun">
      <div class="sun"><img src="img/baggrunde/sun.png"></div>
    </div>
    <div id="grass-box">
      <div class="grass">
        <img src="img/baggrunde/grass.png" width="1024">
      </div>
    </div>
  </ion-pane>
</ion-view>

