<ion-view view-title="oneplus">

  <ion-pane>
    <ion-content class="shapewindow" ng-controller="SprogCtrl">
      <div class="row-top">
        <div class="col col-80 col-offset-10"><img class="easy" src="img/age-group.png"></div>
      </div>
      <div class="row-mid-1">
        <div class="col col-60 col-offset-20">
          <a href="#/tab/tasks"><button class="button button-block button-energized">Alder 1+</button></a>
        </div>
      </div>
      <div class="row-mid-2">
        <div class="col col-60 col-offset-20">
          <button class="button button-block button-energized" ng-click="populateOnePlus()">
            Alder 3+
          </button>
        </div>
      </div>
      <div class="row-mid-3">
        <div class="col col-60 col-offset-20">
          <button class="button button-block button-energized" ng-click="populateOnePlus()">
            Alder 5+
          </button>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
