<ion-view view-title="tasks">

  <ion-pane>
    <ion-content class="shapewindow">
      <div class="row-shape">
        <div class="col col-60 col-offset-20">
          <a href="#/tab/oneplustask">
            <button class="button button-block button-energized">OPGAVE 1</button>
          </a>
        </div>
        <div class="col col-60 col-offset-20">
          <a href="#/tab/oneplustask">
            <button class="button button-block button-energized">OPGAVE 2</button>
          </a>
        </div>
        <div class="col col-60 col-offset-20">
          <a href="#/tab/oneplustask">
            <button class="button button-block button-energized">OPGAVE 3</button>
          </a>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
