<ion-view class="view" view-title="Main">
  <ion-pane>
    <ion-content class="mainwindow">
       <div class="row-easy">
        <div class="col col-60 text-center col-offset-20"><!--<img class="easy" ng-src="img/logoer/easy_studio_logo.png">-->
          <h1 style="color:forestgreen; font-family: 'Berlin Sans FB Demi'; font-size: 300%; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); font-weight: 600;">Easy Studio</h1>
        </div>
      </div>
      <div class="row-leg">
        <div class="col col-80 text-center col-offset-10"><!--<img class="headline" ng-src="img/logoer/leg_med_buller.png" alt="">-->
          <h1 style="color:deeppink; font-family: 'Berlin Sans FB Demi'; font-size: 500%; text-shadow: 4px 4px 4px rgba(0,0,0,0.5); font-weight: bolder;">Leg Med Buller</h1>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-5"><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn1" ng-src="img/ikoner/motorik.png" alt=""></a></div>
        <div class="col col-offset-5"><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn2" ng-src="img/ikoner/musik.png" alt=""></a></div>
        <div class="col col-offset-5"><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn3" ng-src="img/ikoner/naturfaenomen.png" alt=""></a></div>
        <div class="col col-offset-5"><a href="#/tab/LangAgeSelect" ng-click="playButtonSound()"><img class="btn4" ng-src="img/ikoner/sprog.png" alt=""></a></div>
      </div>
    </ion-content>
    <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>
    <div id="sun-box">
      <div class="col-80 col-offset-10" id="sun"><img ng-src="img/baggrunde/sun.png" style="width: 100%;"></div>
    </div>
    <div id="grass-box">
      <div class="col" id="grass" style="padding:0; margin:0;">
        <img ng-src="img/baggrunde/grass.png" width="100%">
      </div>
    </div>
  </ion-pane>
</ion-view>

