<ion-view class="view" view-title="oneplus">
  <ion-pane>
    <ion-content class="shapewindow">
      <div class="row-shape">
        <div class="col-50 col-offset-25">
          <img ng-class="taskimg" ng-hide="hideNow" ng-src="{{currentImage}}">

        </div>
        <div class="row" style="padding: 10% 5% 0 5%;">
          <div class="col-33"><img style="width: 100%;" id="option1" ng-src="{{image1}}" alt=""
                                   ng-click="testTask('option1')"></div>
          <div class="col-33"><img style="width: 100%;" id="option2" ng-src="{{image2}}" alt=""
                                   ng-click="testTask('option2')"></div>
          <div class="col-33"><img style="width: 100%;" id="option3" ng-src="{{image3}}" alt=""
                                   ng-click="testTask('option3')"></div>
        </div>
      </div>



      <div class="row" ng-show="showMenuButtons">
          <div class="col col-25 col-offset-25 text-center"  ng-click="playButtonSound()">
            <!--<button class="button button-block button-energized" style="height: 80px; line-height: 0px;">-->
              <a href="#/tab/{{difficulty}}" style="text-decoration: none;">
                <i class="icon ion-arrow-left-c" style="font-size: 100px; color:white; line-height: 0; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"></i>
                <p style="color:white; font-size: 25px; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);">Menu</p>
              </a>
            <!--</button>-->
          </div>
          <div class="col col-25 text-center"  ng-click="playButtonSound()">
            <!--<button class="button button-block button-energized" style="height: 80px; line-height: 0px;">-->
              <a href="#/tab/choiceGame/{{idNext}}" style="text-decoration: none;">
                <i class="icon ion-arrow-right-c" style="font-size: 100px; color:white; line-height: 0; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"></i>
                <p style="color:white; font-size: 25px; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);">Næste</p>
              </a>
            <!--</button>-->
          </div>
      </div>
    </ion-content>
    <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>

    <div id="grass-box">
      <div class="grass">
        <img ng-src="img/baggrunde/grass.png" width="1024">
      </div>
    </div>

  </ion-pane>
</ion-view>
