<ion-view class="view" view-title="Main">
  <ion-pane>
    <ion-content class="mainwindow">
       <div class="row-easy">
        <div class="col col-33 col-offset-33"><img class="easy" ng-src="img/logoer/easy_studio_logo.png"></div>
      </div>
      <div class="row-leg">
        <div class="col col-80 col-offset-10"><img class="headline" ng-src="img/logoer/leg_med_buller.png" alt=""></div>
      </div>
      <div class="row">
        <div class="col col-offset-5" id="shake" ><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn1" ng-src="img/ikoner/motorik.png" alt=""></a></div>
        <div class="col col-offset-5" id="shake3"><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn2" ng-src="img/ikoner/musik.png" alt=""></a></div>
        <div class="col col-offset-5" id="shake" ><a href="#/tab/sprog" ng-click="playButtonSound()"><img class="btn3" ng-src="img/ikoner/naturfaenomen.png" alt=""></a></div>
        <div class="col col-offset-5" id="shake3" ><a href="#/tab/LangAgeSelect" ng-click="playButtonSound()"><img class="btn4" ng-src="img/ikoner/sprog.png" alt=""></a></div>
      </div>
    </ion-content>
    <div id="clouds">
      <div class="cloud x1"><img ng-src="img/baggrunde/cloud1.png"></div>
      <div class="cloud x2"><img ng-src="img/baggrunde/cloud2.png"></div>
      <div class="cloud x3"><img ng-src="img/baggrunde/cloud1.png"></div>
    </div>
    <div id="sun">
      <div class="sun"><img ng-src="img/baggrunde/sun.png"></div>
    </div>
    <div id="grass-box">
      <div class="grass">
        <img ng-src="img/baggrunde/grass.png" width="1024">
      </div>
    </div>
  </ion-pane>
</ion-view>

