<ion-view view-title="oneplus">
  <ion-pane>
    <ion-content class="shapewindow">
      <div class="row-top">
        <div class="col col-80 col-offset-10"><img class="easy" ng-src="img/logoer/choose_age_group.png"></div>
      </div>
      <div class="row-mid-1">
        <div class="col col-60 col-offset-20" id="shake" ng-click="playButtonSound()">
          <a href="#/tab/langOneTasks" style="text-decoration: none">
            <button class="button button-block button-energized" >Alder 1+</button>
          </a>
        </div>
      </div>
      <div class="row-mid-2">
        <div class="col col-60 col-offset-20" id="shake2" ng-click="playButtonSound()">
          <a href="#/tab/langThreeTasks" style="text-decoration: none">
            <button class="button button-block button-energized" >Alder 3+</button>
          </a>
        </div>
      </div>
      <div class="row-mid-3">
        <div class="col col-60 col-offset-20" id="shake3" ng-click="playButtonSound()">
          <button class="button button-block button-energized">
            Alder 5+
          </button>
        </div>
      </div>
      <div class="col col-33 col-offset-33 text-center" ng-click="playButtonSound()">
        <a href="#/tab/main" style="text-decoration: none;">
          <i class="icon ion-arrow-left-c" style="font-size: 100px; color:white; line-height: 0; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);"></i>
          <p style="color:white; font-size: 20px; text-shadow: 2px 2px 2px rgba(0,0,0,0.5); line-height: 0;">Menu</p>
        </a>
      </div>
    </ion-content>
    <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>
    <div id="grass-box">
      <div class="grass">
        <img ng-src="img/baggrunde/grass.png" width="100%">
      </div>
    </div>
  </ion-pane>
</ion-view>
