/* Empty. Add your own CSS if you like */
@font-face { font-family: "Berlin Sans FB Demi"; src: url('../fonts/BRLNSB.TTF'); }
@font-face { font-family: "Berlin Sans FB Demi"; src: url('../fonts/BRLNSDB.TTF'); }
@font-face { font-family: "Berlin Sans FB Demi"; src: url('../fonts/BRLNSR.TTF'); }


.scroll-content {


[add any more properties here]

}
/*Index CSS*/
.mainwindow, .languageWindow {

  margin:0;
  padding:0;
  width:100%;
  height:100%;
  transition:all 0.3s ease;

}

.headline{
  width:100%;
}

.logoBox{
  width:100%;
  margin: 0 auto;
  padding-top:5%;
}

.row-easy{
  margin-top:10%;
}

.easy{
  width:100%;
}

.btn1, .btn2, .btn3, .btn4{
  width:100%;
}
/*Index CSS*/

/*----------------------------------------------Language CSS------------------------------------------------------------*/
.row-top{
  margin-top:10%;
}

.row-mid-1{
  margin-top:10%;
}

.row-mid-1 button, .row-mid-2 button, .row-mid-3 button{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
/*----------------------------------------------Language CSS------------------------------------------------------------*/

/*OnePlusTask CSS*/

.shapewindow{

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  transition:all 0.3s ease;
}

.row-shape{
  margin-top:10%;
}
/*OnePlusTask CSS*/

#clouds{
  padding: 100px 0;

}

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px; height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 55s linear infinite;
  -moz-animation: moveclouds 55s linear infinite;
  -o-animation: moveclouds 55s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
}

.x3 {
  left: -250px; top: -200px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  -webkit-animation: moveclouds 50s linear infinite;
  -moz-animation: moveclouds 50s linear infinite;
  -o-animation: moveclouds 50s linear infinite;
}

.x4 {
  left: 470px; top: -250px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
}

.x5 {
  left: -150px; top: -150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

#sun-box{
  width:100%;
  height:100%;
  position: fixed;
  z-index: 0;
  margin-top:-20%;
  padding:0;
}

#sun {
  width:80%;
  margin:0 auto;
  z-index: 0;
}

#grass-box {
  width:100%;
  margin-bottom: -1%;
  padding: 0;
  position: fixed;
  z-index: 1;
  bottom:0;
}

#grass img {
  margin: 0;
  padding: 0;
}

ion-content {
  position: fixed;
  z-index: 2;
}

ion-pane {
  background-image:url('../img/baggrunde/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;"
}
